@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #cabd89;
  --color-background: #000000;
  --color-blue: #818c9e;
  --color-purple: #9482a1;
  --color-green: #aaa85e;
}

@font-face {
  font-family: DigitalNumbers;
  src: url("../assets/fonts/DigitalNumbers-Regular.ttf");
}

@font-face {
  font-family: Basker;
  src: url("../assets/fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: Ephesis;
  src: url("../assets/fonts/Ephesis-Regular.ttf");
}

html {
  height: stretch;
  height: -webkit-stretch;
}

body {
  min-height: 100lvh;
  min-height: stretch;
  min-height: stretch;
  color: var(--color-text);
  background: var(--color-background);
}

.cursive {
  font-family: Ephesis;
}

.digital {
  font-family: DigitalNumbers;
}

.basker {
  font-family: Basker;
}

.text-gold {
  color: #cabd89;
}

.gold {
  background: -webkit-linear-gradient(#918863, #fffdb8);
}

.border {
  border: 2px solid;
  border-image-slice: 1;
  border-color: var(--color-primary);
}

.border-blue {
  border-color: var(--color-blue);
}

.border-purple {
  border-color: var(--color-purple);
}

.border-green {
  border-color: var(--color-green);
}

.text-blue {
  color: var(--color-blue);
}

.text-purple {
  color: var(--color-purple);
}

.text-green {
  color: var(--color-green);
}

.center {
  text-align: center;
}

.nft {
  background-size: contain;
  background-image: url("/img/default.png");
  width: 100%;
  height: 100%;
}

.noise-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
}

.noise-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.tv-static {
  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url("../assets/images/static.png") 0 0;
  background-size: 320px 320px;
  opacity: 0.35;
  animation: tv-static 1s steps(8, end) infinite both;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 12px;
  position: relative;
  top: 3px;
  float: right;
}

@keyframes tv-static {
  0% {
    transform: translateX(0px, 0px);
  }

  10% {
    transform: translate(-100px, 100px);
  }

  20% {
    transform: translate(150px, -100px);
  }

  30% {
    transform: translate(-100px, 100px);
  }

  40% {
    transform: translate(100px, -150px);
  }

  50% {
    transform: translate(-100px, 200px);
  }

  60% {
    transform: translate(-200px, -100px);
  }

  70% {
    transform: translateY(50px, 100px);
  }

  80% {
    transform: translate(100px, -150px);
  }

  90% {
    transform: translate(0px, 200px);
  }

  100% {
    transform: translate(-100px, 100px);
  }
}
